<b>Item(ns) que poderão ser colocados na mochila:</b>
<div class="table-responsive">
  <% @goIn.each do |row| %> 
    <p>Item <%= row %> </p>
  <% end %>
</div>
<br>
<b>Item(ns) que não poderão:</b>
<div class="table-responsive">
  <% @notEnter.each do |row| %> 
    <p>Item <%= row %> </p>
  <% end %>
</div>